.container {
  text-align: center;
  margin-top: 100px;
  font-family: 'Segoe UI', sans-serif;

  h1 {
    font-size: 3rem;
    color: #f9a825;
  }

  p {
    font-size: 1.5rem;
    color: #555;
  }
}
